@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Root */

.bgPrimary {
  @apply bg-[#161616];
}

/* Navbar */

.txtNavbar {
  @apply text-white text-xs font-extralight text-slate-200;
}

.txtNavbar:hover {
  @apply text-gray-50;
}

/* Presentation */

.card {
  @apply bg-black rounded-[25px];
}

.angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.item-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 4;
}

.item-1 {
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 7;
  grid-column-end: 6;
}

.item-2 {
  grid-row-start: 7;
  grid-column-start: 2;

  grid-row-end: 15;
  grid-column-end: 5;
}

.item-3 {
  grid-row-start: 15;
  grid-column-start: 1;

  grid-row-end: 20;
  grid-column-end: 4;
}

.item-4 {
  grid-row-start: 15;
  grid-column-start: 4;

  grid-row-end: 20;
  grid-column-end: 6;
}